<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion</title>
    
</head>
<body>

    <div class="cont-general-seccion">
        <div class="cont-izq-seccion">
            
            <img class="cont-img" [src]="imagePath" alt="Imagen no Encontrada">
            <div class="cont-link-video">
                <a class="link-video" [href]="'https://odybankody-my.sharepoint.com/:v:/g/personal/jormenom_odybank_com_pe/EbkoQETVpMxHuRimNn5xE_wB0qmQZyRU_gMjSvqpX5Lolw?email=eestebanq%40odybank.com.pe'" target="_blank">Link del Video</a>
            </div>
        
        </div>
        <div class="cont-der-seccion">
            <h1 style="text-align: center; margin-top: -4rem;">Titulo Seccion</h1>
            <p style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis aperiam dignissimos tempora, 
                corporis quaerat amet, ea soluta laborum enim quia perferendis animi? Maiores doloremque molestiae illo cum placeat provident.</p>
            <div class="cont-der-buttons">
                <button class="btn btn-primary">Tarea</button>
                <button class="btn btn-primary">Examen</button> 
            </div>
        </div>
    </div>
</body>
</html>


