<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto RetoCoach</title>
</head>
<body>
  <app-navbar></app-navbar>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>


<section class="hero-section">
  <div class="card-grid">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</section>

  <app-footer></app-footer>

</body>
</html>
