<div class="presentacion">
  <h1 class="text-center">PROGRAMA COACH</h1>

  <section class="hero-section">
    <div class="card-grid">

      <app-card (click)="irPaginaSession(1)"  category="sistema" image="./assets/imgs/portadaSesiones/portadaSesion1.png"></app-card>
      <app-card (click)="irPaginaSession(2)"  category="sistema"image="./assets/imgs/portadaSesiones/portadaSesion2.png" ></app-card>
      <app-card (click)="irPaginaSession(3)"  category="sistema"image="./assets/imgs/portadaSesiones/portadaSesion3.png" ></app-card>
      <app-card (click)="irPaginaSession(4)"  category="sistema"image="./assets/imgs/portadaSesiones/portadaSesion4.png" ></app-card>
    </div>
  </section>
</div>





