<h1 class="text-center">PROGRAMA COACH</h1>

<section class="hero-section">
  <div class="card-grid">
    <app-card (click)="irPaginaSession(1)" titulo="SimpHub y SimpAuth" category="sistema" ></app-card>
    <app-card (click)="irPaginaSession(2)" titulo="SimpWeb" category="sistema"></app-card>
    <app-card (click)="irPaginaSession(3)" titulo="AppBackend y SimpSecurity" category="sistema"></app-card>
    <app-card (click)="irPaginaSession(4)" titulo="Servicios Soap y Hub" category="sistema"></app-card>
  </div>

</section>




